
.login-content{
    color: crimson;
    margin-left: 35%;
    margin-right: 35%;
    margin-top:10%;
    margin-bottom: 10%;
}
fieldset{
    padding: 5%;
}
input[type = text],input[type = password]{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
}
input[type = submit]{
    margin-top: 2%;
    background-color: skyblue;
    font-weight: bold;
}